---
import '../styles/global.css'
import Floating from "../components/Floating.astro"
import Navbar from '../components/Navbar.astro';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Lic. Mur Nutrición</title>
	</head>
	<body>
		<Navbar/>
		<slot />
		<Floating />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
